.header
{
    padding: 1rem;
    background: var(--color-navy-main);
}

.headerContainer
{
    display: flex;
    justify-content: space-between;
}

.logo
{
    width: 60px;
    
}

.logolink
{
    flex-grow: 0;

}

.logolink h3
{
    display: none;
}

.mainNav
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 2rem;
    
    a {
        color: var(--color-white);
        margin-left: 2.5rem;
        text-decoration: none;
        font-size: 1.75rem;
    }

}


.actionNav
{
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
        margin-left: 1.5rem;
    }
}
